.MyBooks-currenty-reading-wrapper {
    height: 17rem;
    overflow-y: hidden;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    width: 90%;
    position: relative;
    left: 5%;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.MyBooks-want-to-read-wrapper {
    height: 17rem;
    overflow-y: hidden;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    width: 90%;
    position: relative;
    left: 5%;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.MyBooks-read-wrapper {
    height: 17rem;
    overflow-y: hidden;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    width: 90%;
    position: relative;
    left: 5%;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.MyBooks-title-wrapper {
    width: 90%;
    text-align: center;
    position: relative;
    left: 5%;
}

.MyBooks-title-wrapper > span {
    font-family: cursive;
    color: black;
    font-variant: all-petite-caps;
    display: inline-block;
}

.MyBooks-title {
    width: 60%;
}


.Mybooks-show-more:hover {
    color: palevioletred;
    cursor: pointer;
}