.MyBooks-type-section-wrapper {
    height: 17rem;
    overflow-y: hidden;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    width: 90%;
    position: relative;
    left: 5%;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.MyBooks-type-section-wrapper.Currently.Reading {
    background: #EC8B5E;
    color: #141A46;
}

.MyBooks-type-section-wrapper.Currently.Reading > .BooksTile {
    color: #141A46;
}

.MyBooks-type-section-wrapper.Want.to.Read {
    background:#D2302C;
    color:#F7F7F9;
}

.MyBooks-type-section-wrapper.Want.to.Read > .BooksTile {
    color:#F7F7F9;
}

.MyBooks-type-section-wrapper.Read {
    background:#234E70;
    color:#FBF8BE;
}

.MyBooks-type-section-wrapper.Read > .BooksTile {
    color:#FBF8BE;
}

.MyBooks-type-section-wrapper.rated {
    background: #1D1B1B;
    color: #EC4D37;
}

.MyBooks-title-wrapper {
    width: 90%;
    text-align: center;
    position: relative;
    left: 5%;
}

.MyBooks-title-wrapper > span {
    font-family: cursive;
    color: black;
    font-variant: all-petite-caps;
    display: inline-block;
}

.MyBooks-title {
    width: 60%;
}


.Mybooks-show-more:hover {
    color: palevioletred;
    cursor: pointer;
}