.MyBooks-type-section-wrapper {
    height: 17rem;
    overflow-y: hidden;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    width: 90%;
    position: relative;
    left: 5%;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.MyBooks-type-section-wrapper.Currently.Reading {
    background: #FECD45;
    color: #141824;
    font-weight: bold;
}

.MyBooks-type-section-wrapper.Want.to.Read {
    background: #61082B;
    color: #B4D0E7;
    font-weight: bold;
}

.MyBooks-type-section-wrapper.Read {
    background: #faf6ed;
    color: #5cb25d;
    font-weight: bold;
}

.MyBooks-type-section-wrapper.rated {
    background: #0F0C24;
}

.MyBooks-title-wrapper {
    width: 90%;
    text-align: center;
    position: relative;
    left: 5%;
}

.MyBooks-title-wrapper > span {
    color: black;
    font-variant: all-petite-caps;
    display: inline-block;
    font-weight: bold;
}

.MyBooks-title {
    width: 60%;
}


.Mybooks-show-more:hover {
    color: palevioletred;
    cursor: pointer;
}