.SearchBar {
    width: 100%;
}

.SearchBar > form {
    box-shadow: 0 2px 2px 0 floralwhite;
    border-radius: 1.5rem;
}

.SearchBar-clear:hover {
    cursor: pointer;
}

.SearchBar > .MuiPaper-root {
    width: 100%;
}

.SearchBar-loading-spinner-wrapper {
    padding-right: 0.5rem;
}