.ProfileSocial {
    width: 90%;
    position: relative;
    left: 5%;
    transition: 0.3s;
    border-radius: 1rem;
    box-shadow: 0px 12px 20px 2px rgb(0 0 0 / 20%);
    margin-top: 1rem;
    min-height: 40vh;
    overflow: auto;
    margin-bottom: 5rem;
}

.ProfileSocial-user-profile-wrapper {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.ProfileSocial-user-profile-name-wrapper {
    padding: 0 1rem;
}

.ProfileSocial-user-profile-name-wrapper > p {
    margin: 0;
}

.Profile-social-back-wrapper {
    cursor: pointer;
}

.Profile-social-back-wrapper> svg:hover {
    border-radius: 50%;
    opacity: 0.5;
    background: lightslategray;
}

.ProfileSocial-profile-wrapper {
    display: flex;
    padding: 2rem 1rem;
    flex-wrap: wrap;
}

.ProfileSocial-profile-wrapper:hover {
    background: #F0F0F0;
    opacity: 0.75;
    cursor: pointer;
}

.ProfileSocial-profile-image-wrapper > img {
    border-radius: 50%;
    width: 3rem;
}

.ProfileSocial-profile-header-wrapper {
    width: 100%;
    display: flex;
}

.ProfileSocial-profile-user-follow-wrapper {
    margin-left: auto;
    border-radius: 2rem;
    background: rgb(15, 20, 25);
    color: rgb(255, 255, 255);
    width: 6rem;
    height: 2rem;
    cursor: pointer;
}

.ProfileSocial-profile-user-follow-wrapper.true {
    background: rgba(0, 0, 0, 0);
    color: rgb(15, 20, 25);
    border: 1px solid rgb(207, 217, 222);
}

.ProfileSocial-profile-user-follow-wrapper.true:hover {
    background: orangered;
    background: indianred;
    color: whitesmoke;
}

.ProfileSocial-profile-user-follow-wrapper > p {
    margin: 0;
    line-height: 2rem;
}

.ProfileSocial-profile-name-wrapper {
    padding-left: 0.5rem;
    text-align: left;
    width: calc(100% - 9rem);
}

.ProfileSocial-profile-name-wrapper > p {
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.ProfileSocial-profile-profileName-wrapper {
    display: flex;
    width: 100%;
}

.ProfileSocial-profile-profileName-wrapper > .profileName {
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.ProfileSocial-profile-profileName-wrapper > .profileName.true {
    max-width: calc(100% - 7rem);
}

.ProfileSocial-profile-profileName-wrapper > .isCurrentUserFollowed {
    margin: 0 0.5rem;
    width: 6rem;
    background: darkgray;
    color: aliceblue;
    text-align: center;
}

.ProfileSocial-profile-bio-wrapper {
    padding-left: 3.5rem;
    text-align: left;
}

.ProfileSocial-profile-bio-wrapper > p {
    margin: 0;
    white-space: pre-line;
}

.ProfileSocial-pagination-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

.ProfileSocial-profile-user-follow-wrapper.true:hover > p.Following {
    display: none;
}

.ProfileSocial-profile-user-follow-wrapper.true:hover:before {
    content: 'Unfollow';
    line-height: 2rem;
}

.ProfileSocial-profile-user-follow-wrapper > .Follow:hover {
    color: wheat;
}


/* ---------------------------- Mobile Specific ------------------------- */

.ProfileSocial.mobile800 > .ProfileSocial-content > .ProfileSocial-profile-wrapper {
    padding: 2rem 0.5rem;
}

.ProfileSocial.mobile800 > .ProfileSocial-content > .ProfileSocial-profile-wrapper > .ProfileSocial-profile-header-wrapper
 > .ProfileSocial-profile-name-wrapper > p {
    font-size: 15px;
}

.ProfileSocial.mobile800 > .ProfileSocial-content > .ProfileSocial-profile-wrapper > .ProfileSocial-profile-header-wrapper
 > .ProfileSocial-profile-name-wrapper > .ProfileSocial-profile-profileName-wrapper > p {
    font-size: 15px;
}

 .ProfileSocial.mobile800 > .ProfileSocial-content > .ProfileSocial-profile-wrapper > .ProfileSocial-profile-header-wrapper
 > .ProfileSocial-profile-user-follow-wrapper > p {
     font-size: 15px;
 }

.ProfileSocial.mobile800 > .ProfileSocial-content > .ProfileSocial-profile-wrapper > .ProfileSocial-profile-header-wrapper
 > .ProfileSocial-profile-user-follow-wrapper {
     width: 6rem;
 }

 .ProfileSocial.mobile800 > .ProfileSocial-content > .ProfileSocial-profile-wrapper > .ProfileSocial-profile-bio-wrapper > p {
    font-size: 15px;
 }
