.Profile {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.Profile-details-wrapper {
    width: 80%;
    height: 40vh;
    transition: 0.3s;
    border-radius: 1rem;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 20%);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    color: #F4A950;
    background: #161B21;
}

.Profile-details-header-wrapper {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
}

.Profile-user-pic {
    height: 90%;
    object-fit: contain;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.04);
    outline-style: none;
    box-shadow: rgb(0 0 0 / 2%) 0px 0px 2px inset;
    position: relative;
    left: 0.75rem;
    top: 0.5rem;
    border-radius: 10rem;
}

.Profile-name {
    font-family: Bookman;
    font-size: 1.25rem;
    font-weight: bolder;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 0;
    padding: 0 1rem;
}

.Profile-profile-name {
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 0 1rem;
}

.Profile-image-wrapper {
    width: 25%;
    height: 100%;
    display: flex;
}

.Profile-details-header-content-wrapper {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: end;
}

.Profile-rating-wrapper {
    padding: 0.5rem 0;
}

.Profile-info-wrapper {
    width: 100%;
    height: 70%;
}

.Profile-info-extras-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Profile-info-extras-wrapper > .Profile-sign-out {
    background: inherit;
    border: none;
    color: orangered;
    margin: 0.5rem 0;
}

.Profile-info-extras-wrapper > .Profile-sign-out:hover {
    background-color: transparent;
    color: aliceblue;
    border:none;
}

.Profile-rating-count:hover, .Profile-review-count:hover{
    cursor: pointer;
    color: coral;
}

.Profile-average-rating {
    padding-left: 0.25rem;
    cursor: pointer;
}

.Profile-average-rating:hover {
    color: coral;
}

.Profile-BookShelf-wrapper {
    width: 90%;
}

.Profile-profile-actions-wrapper {
    width: 100%;
}

.Profile-info-name-wrapper {
    width: 100%;
    text-align: left;
}

.Profile-follow-wrapper, .Profile-edit-wrapper {
    border-radius: 2rem;
    background: #F4A950;
    color: #161B21;
    width: 6rem;
    height: 2rem;
    cursor: pointer;
    margin-top: 1rem;
}

.Profile-edit-wrapper {
    width: 8rem;
    position: relative;
    right: 0.5rem;
}

.Profile-edit-wrapper:hover {
    background: coral;
}

.Profile-follow-wrapper > p, .Profile-edit-wrapper > p {
    line-height: 2rem;
    margin: 0;
}

.Profile-follow-wrapper > p:hover {
    text-shadow: 1px 1px aliceblue;
}

.Profile-info-follow-details-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.Profile-info-following-wrapper > p, .Profile-info-followers-wrapper > p  {
    padding: 0 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.Profile-info-following-wrapper > p:hover,.Profile-info-followers-wrapper > p:hover {
    cursor: pointer;
    text-decoration: underline;
    color: coral;
}



/*  ---------------------   Mobile Specific -------------------------------------- */

.Profile.mobile > .Profile-details-wrapper {
    width: 90%;
    display: block;
    height: 60vh;
}

.Profile.mobile > .Profile-details-wrapper > .Profile-details-header-wrapper {
    height: 25%;
}

.Profile.mobile > .Profile-details-wrapper > .Profile-details-header-wrapper > .Profile-image-wrapper > img {
    height: 70%;
}

.Profile.mobile> .Profile-details-wrapper > .Profile-info-wrapper {
    height: 75% !important;
    width: 100%;
    text-align: center;
    height: 60%;
    overflow: hidden;
}

.Profile.mobile> .Profile-details-wrapper > .Profile-info-wrapper > .Profile-info-name-wrapper > .Profile-name {
    -webkit-line-clamp: 2;
}