.ProfileReviews-row {
    display: flex;
    height: 35vh;
    overflow-y: hidden;
    flex-wrap: wrap;
    overflow: auto;
    width: 90%;
    position: relative;
    left: 5%;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.ProfileReviews-row-cover-wrapper {
    width: 30%;
    height: 90%;
}

.ProfileReviews-row-cover-wrapper > img {
    width: 50%;
    height: 90%;
    object-fit: contain;
    position: relative;
    top: 10%;
    cursor: pointer;
}

.ProfileReviews-row-details-wrapper {
    width: 70%;
    height: 100%;
    text-align: left;
}

.ProfileReviews-row-title-wrapper {
    height: 3rem;
    overflow: hidden;
}

.ProfileReviews-row-title-wrapper > p {
    font-family: sans-serif;
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.ProfileReviews-row-review-wrapper {
    height: calc(100% - 4rem);
    overflow: auto;
}

.ProfileReviews-pagination-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}


/*  -------------------Mobile Specific ------------------------ */

.ProfileReviews.mobile1200 > .ProfileReviews-row {
    display: block;
    height: 60vh;
}

.ProfileReviews.mobile1200 > .ProfileReviews-row > .ProfileReviews-row-cover-wrapper {
    width: 100%;
    height: 50%;
}

.ProfileReviews.mobile1200 > .ProfileReviews-row > .ProfileReviews-row-cover-wrapper > img {
    height: 90%;
    position: relative;
    top: 5%;
}

.ProfileReviews.mobile1200 > .ProfileReviews-row > .ProfileReviews-row-details-wrapper {
    width: 100%;
    height: 50%;
    text-align: center;
}

.ProfileReviews.mobile1200 > .ProfileReviews-row > .ProfileReviews-row-details-wrapper > .ProfileReviews-row-review-wrapper {
    padding: 0.5rem;
}