.UserBookStatus-edit-details-wrapper > p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.UserBookStatus > .MuiFormControl-root > label {
    color: inherit;
}

.UserBookStatus > .MuiFormControl-root > .MuiInput-root.MuiInput-underline {
    color: inherit;
}