.MuiPaper-root.MuiDialog-paperScrollPaper.react-draggable {
    width: 100%;
    height: 70%;
}

.UserBookExtrasDialog-content-dates-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.UserBookExtrasDialog-title {
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.UserBookExtrasDialog-end-date-wrapper.error > .MuiFormControl-root > .MuiOutlinedInput-root > fieldset {
    border-color: red;
}

.UserBookExtrasDialog-review-wrapper {
    padding-top: 1.5rem;
}

.UserBookExtrasDialog-timestamp-wrapper > p {
    color: grey;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: right;
}

.UserBookExtrasDialog-review-utils-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.UserBookExtrasDialog-review-progress-wrapper {
    position: relative;
    position: relative;
    top: 0.25rem;
}

/* ----------------------------------   Mobile Specific ------------------------------------------- */
.UserBookExtrasDialog-content-dates-wrapper.mobile600 {
    display: block;
}

.UserBookExtrasDialog-content-dates-wrapper.mobile600 > .UserBookExtrasDialog-end-date-wrapper {
    padding-top: 1rem;
}

.UserBookExtrasDialog-content-dates-wrapper.mobile600 > .UserBookExtrasDialog-start-date-wrapper > .MuiFormControl-root.MuiTextField-root {
    width: 100%;
}

.UserBookExtrasDialog-content-dates-wrapper.mobile600 > .UserBookExtrasDialog-end-date-wrapper > .MuiFormControl-root.MuiTextField-root {
    width: 100%;
}
