.MuiPaper-root.MuiDialog-paperScrollPaper.react-draggable {
    width: 100%;
    height: 70%;
}

.UserBookExtrasDialog-content-dates-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.UserBookExtrasDialog-title {
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.UserBookExtrasDialog-end-date-wrapper.error > .MuiFormControl-root > .MuiOutlinedInput-root > fieldset {
    border-color: red;
}


/* ----------------------------------   Mobile Specific ------------------------------------------- */
.UserBookExtrasDialog-content-dates-wrapper.mobile600 {
    display: block;
}

.UserBookExtrasDialog-content-dates-wrapper.mobile600 > .UserBookExtrasDialog-end-date-wrapper {
    padding-top: 1rem;
}

.UserBookExtrasDialog-content-dates-wrapper.mobile600 > .UserBookExtrasDialog-start-date-wrapper > .MuiFormControl-root.MuiTextField-root {
    width: 100%;
}

.UserBookExtrasDialog-content-dates-wrapper.mobile600 > .UserBookExtrasDialog-end-date-wrapper > .MuiFormControl-root.MuiTextField-root {
    width: 100%;
}
