.BooksTile {
    display: flex;
    align-items: center;
}

.BooksTile-book-wrapper {
    height: 15rem;
    width: 20rem;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.BooksTile-cover-wrapper {
    cursor: pointer;
    height: 75%;
    width: 80%;
}

.BooksTile-cover-wrapper > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.BooksTile-name-wrapper {
    width: 100%;
    overflow: hidden;
}

.BooksTile-name-wrapper-started {
    color: darkorange;
}

.BooksTile-name-wrapper-completed {
    color: forestgreen;
}

.BooksTile-name-wrapper-target {
    color: #ea3c53;
}

.BooksTile-name-wrapper > p {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0;
    color: darkslateblue;
    font-weight: bolder;
    font-size: 17px;
    padding-top: 10px;
}