.ProfileActions-action {
    width: 90%;
    overflow: hidden;
    transition: 0.3s;
    border-radius: 1rem;
    box-shadow: 0 12px 20px 2px rgb(0 0 0 / 20%);
    position: relative;
    left: 5%;
    margin-top: 1rem;
    display: flex;
}

.ProfileActions-book-cover-wrapper {
    width: 20%;
    height: 20rem;
}

.ProfileActions-book-cover-wrapper > img {
    width: 100%;
    height: 80%;
    object-fit: contain;
    position: relative;
    top: 5%;
    cursor: pointer;
}

.ProfileActions-details-wrapper {
    width: 80%;
    padding-left: 1rem;
    text-align: left;
}

.ProfileActions-action-wrapper > p {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.ProfileActions-book-name {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: bold;
}

.ProfileActions-book-timestamp-wrapper > p {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 1rem 0;
}

.ProfileActions-book-review-content-wrapper {
    height: 12rem;
    overflow: auto;
    padding-top: 0.5rem;
}

.ProfileActions-book-review-content-wrapper > p {
    padding: 0.1rem;
}

.ProfileActions-pagination-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}



/*  ----------------------------------- Mobile Specific ---------------------------------------------- */

.ProfileActions-action.mobile1200 {
    display: block;
    min-height: 20rem;
}

.ProfileActions-action.mobile1200 > .ProfileActions-book-cover-wrapper {
    width: 100%;
}

.ProfileActions-action.mobile1200 > .ProfileActions-details-wrapper {
    text-align: center;
    width: 90%;
    position: relative;
    left: 5%;
    padding-left: 0;
    padding-bottom: 1rem;
}

.ProfileActions-action.mobile1200 > .ProfileActions-details-wrapper > .ProfileActions-action-wrapper > p {
    -webkit-line-clamp: 3;
}

.ProfileActions-action.mobile1200 > .ProfileActions-details-wrapper > .ProfileActions-book-name-wrapper > .ProfileActions-book-name {
    -webkit-line-clamp: 2;
}